In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import *
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session

In [2]:
metrics_df = pd.read_csv("Resources/clean_hawaii_measurements.csv")
metrics_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [3]:
stations_df = pd.read_csv("Resources/clean_hawaii_stations.csv")
stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [4]:
engine = create_engine("sqlite:///db/hawaii_db.sqlite")
type(engine)

sqlalchemy.engine.base.Engine

In [5]:
Base = declarative_base()
type(Base)

sqlalchemy.ext.declarative.api.DeclarativeMeta

In [6]:
class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String(11))
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Float)

In [7]:
class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(11))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [8]:
conn = engine.connect()
Base.metadata.create_all(conn)

In [12]:
metrics_df.to_sql('measurement', engine, if_exists='replace', index_label='id')

In [11]:
stations_df.to_sql('station', engine, if_exists='replace', index_label='id')

InvalidRequestError: Could not reflect: requested table(s) not available in Engine(sqlite:///db/hawaii_db.sqlite): (station)

In [13]:
session = Session(bind=engine)

In [17]:
dog_list = session.query(Station)
for doggy in dog_list:
    print(doggy.name)

WAIKIKI 717.2, HI US
KANEOHE 838.1, HI US
KUALOA RANCH HEADQUARTERS 886.9, HI US
PEARL CITY, HI US
UPPER WAHIAWA 874.3, HI US
WAIMANALO EXPERIMENTAL FARM, HI US
WAIHEE 837.5, HI US
HONOLULU OBSERVATORY 702.2, HI US
MANOA LYON ARBO 785.2, HI US