In [8]:
import matplotlib.pyplot as plt
import pandas as pd
import openweathermapy.core as owm
import json
# import requests
import numpy as np
from config import wapi_key
from citipy import citipy
from pprint import pprint

# Latitude : max/min +90 to -90
# Longitude : max/min +180 to -180

In [9]:
# setting dictionary
settings = {"units": "metric", "appid": wapi_key}

In [10]:
rand_lat = round(np.random.uniform(-90, 90), 2)
rand_long = round(np.random.uniform(-180, 180), 2)
print(f"Lat: {rand_lat}, Long: {rand_long}")

Lat: 87.57, Long: 169.57

In [11]:
city = citipy.nearest_city(rand_lat, rand_long)
data = owm.get_current(city.city_name, **settings)
print(f"City: {city.city_name}, Humidity: {data('main.humidity')}")

City: pevek, Humidity: 100

In [12]:
city

In [41]:
city_df = pd.DataFrame()
city_df["City"] = ""
city_df["Country"] = ""
# city_df["Latitude"] = ""
# city_df["Longitude"] = ""
# city_df["Temperature"] = ""
# city_df["Humidity"] = ""
# city_df["Cloudiness"] = ""
# city_df["Wind Speed"] = ""
city_df.head()

Empty DataFrame
Columns: [City, Country]
Index: []

In [42]:
rand_lat = round(np.random.uniform(-90, 90), 2)
rand_long = round(np.random.uniform(-180, 180), 2)
city_data = citipy.nearest_city(rand_lat, rand_long)
city_df["City"] = city_data.city_name
city_df["Country"] = city_data.country_code

In [43]:
city_df.head()

Empty DataFrame
Columns: [City, Country]
Index: []

In [26]:
# select at last 500 unique cities based on latitude and longitude
city_list = []
ctr = 0


while ctr < 5:
    
    # get the city and country
    rand_lat = round(np.random.uniform(-90, 90), 2)
    rand_long = round(np.random.uniform(-180, 180), 2)
    city_data = citipy.nearest_city(rand_lat, rand_long)
    name = city_data.city_name
    country_code = city_data.country_code
    # print(f"{name}")
    
    # iterate over dataframe to check for duplicate cities
    for row in city_df.iterrows():
        print(f"in loop")
        if row["City"] == name and row["Country"] == country_code:
            print(f"Duplicate City: {name}")
        else:
            city_df["City"] = name
            city_df["Country"] = country_code
            print(f"{name}")
            break
    ctr += 1

In [27]:
city_df.head()

Empty DataFrame
Columns: [City, Country, Latitude, Longitude, Temperature, Humidity, Cloudiness, Wind Speed]
Index: []